
*.bin
UnitConversionApplication/.vs/UnitConversionApplication/config/applicationhost.config
UnitConversionApplication/.vs/UnitConversionApplication/DesignTimeBuild/.dtbcache.v2
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/3452eacc-56f0-4ce5-a058-ebc6b1897450.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/516f99c4-faa2-44e9-aa2e-8ac7dd6c06b5.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/781e42b9-a4ee-4abf-8231-c322a205eb29.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/9a7eb7c4-a408-4a73-8029-d12e0472af5b.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/ec6ee897-30e4-4b9f-9952-0dd014095e10.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/v17/.futdcache.v2
UnitConversionApplication/.vs/UnitConversionApplication/v17/.suo
/UnitConversionApplication/UnitConversion.API/bin
/UnitConversionApplication/UnitConversion.API/obj
/UnitConversionApplication/UnitConversion.API/Properties/PublishProfiles
/UnitConversionApplication/UnitConversion.API/Properties/ServiceDependencies
/UnitConversionApplication/UnitConversion.Data/bin
/UnitConversionApplication/UnitConversion.Data/obj
/UnitConversionApplication/UnitConversion.Models/obj
/UnitConversionApplication/UnitConversion.Services/bin
/UnitConversionApplication/UnitConversion.Services/obj
/UnitConversionApplication/unitconversion.ui/obj
/UnitConversionApplication/UnitConversion.Models/bin
*.manifest
/UnitConversionApplication/UnitConversion.Test/bin
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/5c6f824b-34ab-429f-affc-b200021ecce0.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/63b8c6f3-bb4f-4dd7-8359-8aafdf9aa7e3.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/a917cfd7-9c33-4db1-991d-dbc638493156.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/ac269f90-f49b-4dd9-aa80-161a1efaa8ff.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/c4d24936-bae4-4a7d-947e-8df0c0c06030.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/v17/TestStore/0/000.testlog
/UnitConversionApplication/UnitConversion.Test/obj
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/008511d8-d377-4e1f-b173-f2c1e9b0fc77.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/4e92d35b-cf76-43b5-9d60-d75119990656.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/v17/TestStore/0/005.testlog
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/ce6e15a3-1c52-4b12-a806-b35055647a4e.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/b4e6a4fd-510f-4622-b78d-6777f2f52495.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/a71ffe1d-c9f9-4197-bc83-4fa591aa3041.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/979295c6-b5e4-4f98-befe-4ac4eacbe56c.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/392f75d4-c30c-4eee-ba19-04f671960030.vsidx
