
*.bin
UnitConversionApplication/.vs/UnitConversionApplication/config/applicationhost.config
UnitConversionApplication/.vs/UnitConversionApplication/DesignTimeBuild/.dtbcache.v2
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/3452eacc-56f0-4ce5-a058-ebc6b1897450.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/516f99c4-faa2-44e9-aa2e-8ac7dd6c06b5.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/781e42b9-a4ee-4abf-8231-c322a205eb29.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/9a7eb7c4-a408-4a73-8029-d12e0472af5b.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/FileContentIndex/ec6ee897-30e4-4b9f-9952-0dd014095e10.vsidx
UnitConversionApplication/.vs/UnitConversionApplication/v17/.futdcache.v2
UnitConversionApplication/.vs/UnitConversionApplication/v17/.suo
/UnitConversionApplication/UnitConversion.API/bin
/UnitConversionApplication/UnitConversion.API/obj
/UnitConversionApplication/UnitConversion.API/Properties/PublishProfiles
/UnitConversionApplication/UnitConversion.API/Properties/ServiceDependencies
/UnitConversionApplication/UnitConversion.Data/bin
/UnitConversionApplication/UnitConversion.Data/obj
/UnitConversionApplication/UnitConversion.Models/obj
/UnitConversionApplication/UnitConversion.Services/bin
/UnitConversionApplication/UnitConversion.Services/obj
/UnitConversionApplication/unitconversion.ui/obj
/UnitConversionApplication/UnitConversion.Models/bin
